@font-face {
  font-family: 'ValueSerif-Bold';
  src: url('fonts/ValueSerif-Bold.eot');
  src: url('fonts/ValueSerif-Bold.woff2') format('woff2'),
       url('fonts/ValueSerif-Bold.woff') format('woff'),
       url('fonts/ValueSerif-Bold.ttf') format('truetype'),
       url('fonts/ValueSerif-Bold.svg#ValueSerif-Bold') format('svg'),
       url('fonts/ValueSerif-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
